<div class="admin-container-fluid">
    <div class="left-side">
        <div class="child">
            <img id="dashboard" src="../../assets/grid-4_curved.png">
            <p class="font">Dashboard</p>
        </div>
        <div class="child">
            <img id="dashboard" src="../../assets/bars_outline.png">
            <p class="font">Overview</p>
            <img id="dashboard" src="../../assets/caret-left.png">
        </div>
        <div class="child">
            <img id="dashboard" src="../../assets/Group.png">
            <p class="font">Learn More</p>
        </div>
    </div>
    <div class="right-side">
        <div class="sadek-container">
            <p class="font">Have a good day ,Sadek</p>
            <img id="hand" src="../../assets/aminadesign210600024 2.png">
        </div>
        <div class="items">
            <div class="container1">
                <p class="font">#Listings</p>
                <p class="font">40</p>
            </div>
            <div class="container1">
                <p class="font">#Items Sold</p>
                <p class="font">20</p>
            </div>
        </div>
        <div class="item">
            <p class="font">#Revenue</p>
            <div class="sub-item">
                <p class="price">$960</p>
                <img src="../../assets/Group 68.png">
                <p class="price"><span class="out">out of a </span>$1600 budget</p>
            </div>
            <div class="percentage">
                <p>20% than last month</p>
            </div>
        </div>
        <div class="pie-container">
            <img class="pie-chart" src="../../assets/meta-chart (1) 1.png">
        </div>
        
    </div>
</div>